.git
.gitignore
.env
.env.*
!.env.example
.phpunit.result.cache
Dockerfile
README.md
node_modules
public/build
public/hot
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
vendor
